h1
{
    /* margin: auto; */
    text-align: center;
}

#container
{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
}

th, td
{
    padding: 20px;
}

form
{
    display: flex;
    flex-direction: column;
}

input, select
{
    width: 300px;
    display: block;
}

label,select, button
{
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    #container 
    {
      flex-direction: column;
    }

    #container div
    {
        margin-bottom: 100px;
        align-items: center;
    }
}

#cerrarSesion
{
    width: 150px;
    height: 50px;
    font-size: large;
    float:right;
    margin-bottom: 50px;
}
